<div class="p-5">
    <h2 class="display-4">Flashcards collection</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>PL</th>
                <th>ENG</th>
                <th>Category</th>
                <th>Level</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% words.forEach((word)=>{ %>
                <tr>
                    <td><%= word.id%></td>
                    <td><%= word.nativeWord%></td>
                    <td><%= word.foreignWord%></td>
                    <td><%= word.category.name%></td>
                    <td><%= word.advancement.level%></td>
                    <td>
                        <form class="d-inline" action="/words/edit/<%= word.id %>" method="POST">
                            <input type="submit" class="btn btn-success" value="Edit">
                        </form>
                        <form class="d-inline" action="/words/delete/<%= word.id %>" method="POST">
                            <input type="submit" class="btn btn-danger" value="Delete">
                        </form>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</div>
<div class="d-flex justify-content-center">
    <ul class="pagination">  
        <li class="page-item"><a class="page-link" href="<%= previousUrl %>">Previous</a></li>
        <li class="page-item"><a class="page-link" href="<%= nextUrl %>">Next</a></li>
      </ul>
</div>

